<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.heyl.myim">

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- Frontia框架的公共权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <application
        android:name="com.baidu.frontia.FrontiaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Toolbar">
        <activity android:name=".MainActivity" />
        <activity android:name=".OpenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SVActivity" />
        <activity android:name=".DownMentActivity" />
        <activity
            android:name=".OBSrcollviewActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <activity
            android:name=".OBSV2Activity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".TriangLifyActivity" />
        <activity
            android:name=".OBSV3Activity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity android:name=".OBSV4Activity" />
        <activity android:name=".ZXingActivity" />
        <activity
            android:name="zxingdemo.MipcaActivityCapture"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".OpenZXingActivity" />
        <activity android:name=".Login3Activity"></activity>
        <!-- 新浪微博第三方登录相关       开始 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!--
              AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
              的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。
              开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
        -->
            <meta-data android:name="AuthorizeAdapter" android:value="com.example.MyAdapter" />
        </activity>
        <!-- 新浪微博第三方登录相关       结束 -->
        <!-- QQ客户端回调 -->
         <!--<activity-->
             <!--android:name="cn.sharesdk.tencent.qq.ResultReceiver"-->
             <!--android:launchMode="singleTask"-->
             <!--android:noHistory="true">-->
             <!--&lt;!&ndash;-->
             <!--如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW-->
             <!--事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，-->
             <!--则分享结束以后不能得到正确的回调-->
             <!--&ndash;&gt;-->
             <!--<intent-filter android:priority="1000" >-->
                 <!--<data android:scheme="tencent100371282" />-->
                 <!--<action android:name="android.intent.action.VIEW" />-->
                 <!--<category android:name="android.intent.category.DEFAULT" />-->
                 <!--<category android:name="android.intent.category.BROWSABLE" />-->
             <!--</intent-filter>-->
         <!--</activity>-->
        <!-- QQ第三方登录相关       开始 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1105711731" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!-- QQ第三方登录相关       结束 -->
    </application>

</manifest>